.card{
  background-color: #d2e8d6; /* verde menta */
  border: 2px solid #f5dcd5;
    margin: 70px;
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 600px;
    box-shadow: 0 0 10px rgba(24, 52, 127, 0.2);
    border-radius: 30px;
    overflow: hidden; 
    border: 2px solid orange;
    /* padding-bottom: 50px; */
    /* box-sizing: border-box; */
  }


.listas {
    display: flex;
  }
  
.listas ul {
    list-style: none;
    margin: 0;
    padding: 0;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    margin-right: 10px;
  }
  
.card h5 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #61440d;
  }

img{
  border-radius: 10px;
    width: 100%;
    height: 60%;
    object-fit: cover;
}

.link{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.708);
}

  li:hover {
    background-color: #f1f1f1;
  }

.head_card{
    display: flex;
    justify-content: space-between;
    width: 300px;
    height: 400px;
}