.footer {
  background-color: #2E8B57;
    display: flex;
    justify-content: space-evenly;
    align-items: center
}

.button {
    /* display:block;
    margin: 0 auto; */
    padding: 15px 30px;
    background-color: #4CAF50;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 19px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    position: center;
    top: 70%;
    left: 50%;
    transform: translate(-5%, -5%);

  }
  
  .button:hover {
    background-color: #2E8B57;
  }