.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.input {
    width: 40px;
    height: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    position: center;
    top: 70%;
    left: 50%;
    transform: translate(-5%, -5%);

  }
  
  .button:hover {
    background-color: #2E8B57;
  }
