.button {
    display:block;
    margin: 0 auto;
    padding: 20px 90px;
    background-color: #4CAF50;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 19px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    position: center;
    top: 70%;
    left: 50%;
    transform: translate(-5%, -5%);

  }
  
  .button:hover {
    background-color: #2E8B57;
  }

  .selectcontainer {
    position: relative;
    width: 200px;
  }
  
  select {
    padding: 13px;
    font-size: 20px;
    border: 1px solid #020e03;
    border-radius: 10px;
    background-color: #a27135;
    margin: 20px;
  }


  label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }

  label:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  .containerHome {
    display: flex;
    justify-content: center;
  }

  .selectdiv {
    display: flex;
    justify-content: center;
    margin-left: 300px ;
  } 

  .containerButton{
    text-align: center;
  }

  button{
    display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
  }