button[type="submit"] {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }

  button[type="submit"]:hover {
    background-color: #0062cc;
  }

  button[type="submit"]:active {
    background-color: #005cbf;
  }

  button[type="submit"]:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5);
  }

  input[type="text"] {
    padding: 9px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  input[type="text"]:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5);
  }

  .container {
    text-align: center;
    justify-content: flex-start;
  }
  
  input[type="submit"], button {
    display: inline-block;
    vertical-align: top;
    margin-right: auto;
  }
